.card {
  width: 100%;
}

.card-text {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
